{% load static %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>雾萌游戏 - 创建房间</title>
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/dist/css/sign-in.css' %}" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <h1 class="h3 mb-3 fw-normal">雾萌游戏</h1>
      <div>
        {% if user.username %}
          <p>欢迎, {{ user.username }}!</p>
          <a href="/unLogin/" class="w-100 btn btn-lg btn-primary">退出</a>
        {% else %}
          <a href="/toLogin/" class="w-100 btn btn-lg btn-primary">登录</a>
          <p></p>
          <a href="/toRegister/" class="w-100 btn btn-lg btn-primary">注册</a>
        {% endif %}
        <p></p>
        <a href="/index/" class="w-100 btn btn-lg btn-primary">返回首页</a>
      </div>
      <hr class="my-4" />
      <p>创建房间</p>
      <form action="/createroom/" method="post">
        {% csrf_token %}
        <div class="form-floating">
          <select name="game" class="form-control">
            {% for var in gameList %}
              <option value="{{ var.id }}">{{ var }}</option>
            {% endfor %}
          </select>
          <label for="game">选择游戏</label>
        </div>

        <div class="form-floating">
          <input type="password" name="password" class="form-control" placeholder="房间密码" />
          <label for="password">房间密码</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">创建</button>
        <p class="text-danger">{{ message }}</p>
      </form>
      <p class="mt-5 mb-3 text-muted">&copy; COPYRIGHT 2024 FOGMOE</p>
    </main>
  </body>
</html>
