<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>雾萌游戏</title>
</head>
<body>

    <div name="top">
        雾萌游戏 
        {% if user.username   %}
            {{ user.username }} <a href="/unLogin/"  method="get">退出</a>
        {% else %}
            <a href="/toLogin/"  method="get">登录</a>/<a href="/toRegister/"  method="get">注册</a>
        {% endif %}
        <a href="/index/"  method="get">首页</a>
    </div>

    <div name="centre">
        <p>加入房间</p>
        <form action="/joinroom/" method="post">
            {% csrf_token %}
            选择游戏：
            <select name="game" >
                {% for var in gameList %}
                    <option value="{{ var.id }}">{{ var }}</option>
                {% endfor %}
            </select><br/>
            房间号：<input type="text" name="roomId"><br/>
            房间密码：<input type="text" name="password"><br/>
            <input type="submit" value="进入">
        </form>

        <p>{{ message }}</p>
    </div>

    <div name="bottom">
        {{ hello }}
    </div>

</body>
</html>