{% load static %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>雾萌游戏 - 登录</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/" />

    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'assets/dist/css/sign-in.css' %}" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <!--<img class="mb-4" src="{% static 'assets/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57" />-->
      <h1 class="h3 mb-3 fw-normal">雾萌游戏</h1>
      <p>欢迎来到雾萌游戏！</p>

      <form action="/login/" method="post">
        {% csrf_token %}

        {% if user.username %}
          <!-- 已登录 -->
          <a href="/unLogin/" class="w-100 btn btn-lg btn-primary">退出登录</a>
          <hr class="my-4" />
          <a href="/index/" class="w-100 btn btn-lg btn-primary">首页</a>
        {% else %}
          <!-- 未登录 -->
          <div class="form-floating">
            <input type="text1" class="form-control" name="username" id="floatingInput" placeholder="" />
            <label for="floatingInput">用户名</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" />
            <label for="floatingPassword">密码</label>
          </div>

          <input type="submit" class="w-100 btn btn-lg btn-primary" value="登录" />
          <p class="text-danger">{{ message }}</p>
          <hr class="my-4" />
          <p>没有账号？</p>
          <a href="/toRegister/" class="w-100 btn btn-lg btn-primary">注册</a>
        {% endif %}
      </form>

      <p class="mt-5 mb-3 text-muted">&copy; COPYRIGHT 2024 FOGMOE</p>
    </main>
  </body>
</html>
