<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>雾萌游戏</title>
</head>
<body>

    <div name="top">
        雾萌游戏 
        {% if user.username   %}
            {{ user.username }} <a href="/unLogin/"  method="get">退出</a>
        {% else %}
            <a href="/toLogin/"  method="get">登录</a>/<a href="/toRegister/"  method="get">注册</a>
        {% endif %}
        <a href="/index/"  method="get">首页</a>
    </div>

    <div name="centre">
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send"><br>

        <div style="display:none" id="round0">
            <input id="ready" type="button" value="ready">
            <input id="unready" style="display:none" type="button" value="unready">
        </div>

        
        <textarea id="online-list" cols="100" rows="20"></textarea><br>
        <p>{{ roomName }}{{ roomId }}</p>
        {{ roomId|json_script:"roomId" }}
    </div>

    <div name="bottom">
    </div>
    
    <script>
        // 获取房间名
        const roomId = JSON.parse(document.getElementById('roomId').textContent);
 
        // 根据roomId拼接websocket请求地址，建立长连接
        //  请求url地址为/ws/werewolfsaga/<roomId>/
        const wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
        const chatSocket = new WebSocket(
             wss_protocol + window.location.host + '/ws/werewolfsaga/'  + roomId + '/'
             );
 
        // 建立websocket连接时触发此方法，展示欢迎提示
        chatSocket.onopen = function(e) {
             document.querySelector('#chat-log').value += ('[公告]' + roomId + '号房间连接成功~\n')
         }
 
        // 从后台接收到数据时触发此方法
         chatSocket.onmessage = function(e) {
             const data = JSON.parse(e.data);
             //把聊天信息message推送到id为chat-log的控件
             if ( data.message != undefined ){
                document.querySelector('#chat-log').value += (data.message + '\n');
             }
             //把在线列表onlinelist推送到id为online-list的控件
             if ( data.onlinelist != undefined ){
                document.querySelector('#online-list').value = (data.onlinelist);
             }
             //rond0没有开始游戏时玩家可以看到的内容
             if( data.round == 0){
                document.querySelector('#round0').style.display = 'block';
             }else{
                document.querySelector('#round0').style.display = 'none';
             }
             //如果用户没有准备则给准备按钮
             if ( data.playerstatus == 0 ){
                document.querySelector('#ready').style.display = 'block';
                document.querySelector('#unready').style.display = 'none';
             }
             //如果用户没有准备则给准备按钮
             if ( data.playerstatus == 1 ){
                document.querySelector('#ready').style.display = 'none';
                document.querySelector('#unready').style.display = 'block';
             }
         };
 
         // websocket连接断开时触发此方法
         chatSocket.onclose = function(e) {
             console.error('Chat socket closed unexpectedly');
         };
         
         document.querySelector('#chat-message-input').focus();
         document.querySelector('#chat-message-input').onkeyup = function(e) {
             if (e.keyCode === 13) {  // enter, return
                 document.querySelector('#chat-message-submit').click();
             }
         };
         
         // 每当点击发送消息按钮，通过websocket的send方法向后台发送信息。
         document.querySelector('#chat-message-submit').onclick = function(e) {
             const messageInputDom = document.querySelector('#chat-message-input');
             const message = messageInputDom.value;
             
             //注意这里:先把文本数据转成json格式,然后调用send方法发送。
             chatSocket.send(JSON.stringify({
                 'message': message
             }));
             messageInputDom.value = '';
         };

        // 点击ready时。
         document.querySelector('#ready').onclick = function(e) {
             const messageInputDom = document.querySelector('#chat-message-input');
             const message = 'ready';
             
             //注意这里:先把文本数据转成json格式,然后调用send方法发送。
             chatSocket.send(JSON.stringify({
                 'message': message
             }));
             messageInputDom.value = '';
         };

        // 点击unready时。
         document.querySelector('#unready').onclick = function(e) {
             const messageInputDom = document.querySelector('#chat-message-input');
             const message = 'unready';
             
             //注意这里:先把文本数据转成json格式,然后调用send方法发送。
             chatSocket.send(JSON.stringify({
                 'message': message
             }));
             messageInputDom.value = '';
         };
    </script>
</body>
</html>